Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.guess
config.sub
configure
configure.scan
depcomp
include/Makefile.in
install-sh
ltmain.sh
m4/
missing
src/Makefile.in
src/config.h.in
src/crypt32.def
test-driver
tests/Makefile.in

