/src/crypt32.def
/src/config.h.in

/test-driver
*/Makefile.in
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/configure.scan
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/

*.l[ao]
*.log
*~